.cursor{
    cursor: pointer;
}

.btnModal{
    border-color: white !important;
    background-color: white !important;
}
.botao{
    background-image:linear-gradient(to right, rgb(177, 76, 3), rgb(196, 2, 2)) !important;
    background-color: #3F51B5; 
    color: white!important;
}