.text-decoreted-none{
    text-decoration:none;
}
.texto2{
    font-Weight: bold !important;
    font-size: 50px !important;
}
.imagem{
    background-image: url(../../../public/musica.webp.png);
    background-repeat: no-repeat; 
    width: 100vw; 
    height: 100vh;
    background-size:cover;
}
.fundo{
    background-image:linear-gradient(to right, rgb(145, 3, 136), rgb(146, 59, 228));
    width: 100vw;
    height: 100vh;
}
