.box1{
    background-image:linear-gradient(to right, rgb(205, 2, 36), rgb(151, 10, 66)) !important;
    background-color: #3F51B5; 
    color: white!important;
}
.redes{
    font-size: 40px !important;
    background-image:linear-gradient(to right, rgb(205, 2, 36), rgb(151, 10, 66)) !important;
    background-color: #3F51B5; 
    color: white!important;
}
.box2{
    background-image:linear-gradient(to right, rgb(205, 2, 36), rgb(151, 10, 66)) !important;
    background-color: #3F51B5; 
    color: white!important;
}
.texto1{
    color: white;
}