.imagem2{
    
    background-Image: url(../../../public/historia-da-musica.jpg);
    background-Repeat: no-repeat; 
    width: 100vh; 
    min-Height: 100vh; 
    background-Size: cover;
    background-Position: center;
}
.texto2{
    font-weight: bold !important;
}
.btnCancelar{
    margin-right: 20px !important;
}
.fundo1{
    background-image:linear-gradient(to right, rgb(250, 40, 208), rgb(150, 47, 246));
}